.product__container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--border-background-color);
}

/* Primera Sección */

.product__card{
    display: flex;
    max-width: 1200px;
    align-items: center;
    padding: 0 75px;
}


.product__card-visual{
    width: 50%;
    height: 80%;
}

.product__card-visual--title{
    font-size: 10rem;
}

.product__card-visual--img{
    height: 380px;
    margin-left: 0;
    right: -60px;
    transform: rotate(-35deg);
    top: 130px;
}

/* Segunda Sección */

.product__card-info{
    width: 50%;
    height: 80%;
    padding: 0 15px 0 35px;
}

.product__card-info-container--title{
    font-size: 3.5rem;
    margin-right: 10px;
    font-weight: 800;
    display: block;
}

.product__card-info-container--category{
    font-size: 1.5rem;
    margin-right: 25px;
}

.product__card-info-container--subtitles{
    display: inline-block;
    font-size: 1.5rem;
}

.product__card-info-container--description{
    display: inline-block;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 0 0 0 15px;
}




